/**************************/
/* HEADER */
/**************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);

  /* Because we want header to be sticky later */
  /* height: 15rem; */
  padding: 1.8rem 2.4rem;
  border-bottom: solid 1px #d1d1d5;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.errors {
  color: #f03e3e;
  font-size: 2.2rem;
  margin-top: 2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.logo {
  height: 4.8rem;
  margin-left: 14.8rem;
}

.greeting {
  font-weight: 500;
  font-size: 1.6rem;
}

.--nav-btn {
  padding: 1.2rem 1.2rem;
  font-size: 1.6rem;
}

.header-name {
  font-size: 3.6rem;
  color: #5c940d;
  font-family: "Merriweather", sans-serif;
  margin-left: 1.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: rgb(42, 42, 53);
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e1ad01;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #c92a2a;
}

.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon {
  width: 36px;
  height: 36px;
  margin-right: 1.2rem;
  stroke: #3e363f;
}

.NavBarDropdownBtn {
  border-radius: 100px;
  max-height: 70px;
  cursor: pointer;
  margin-right: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 105%;
  left: -85%;
}

.dropdown-content a {
  color: black;
  padding: 20px 20px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: white;
}

/**************************/
/* HERO SECTION */
/**************************/

.hero-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  font-size: 3.6rem;
  font-family: "Merriweather", sans-serif;
  top: 50%;
  left: 50%;
  text-shadow: rgb(0, 0, 0) 5px 0 10px;
  transform: translate(-50%, -50%);
}

.--header-btn {
  position: absolute;
  font-size: 1.6rem;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-image {
  width: 100vw;
  height: 400px;
  object-fit: cover;
}

.listing-img {
  width: 300px;
}

.cta-container {
  display: grid;
  column-gap: 2.6rem;
  padding: 4.8rem;
  margin: 3.2rem;
  background-color: rgb(238, 234, 234);
  border-radius: 3px;
}

.card {
  max-width: 120rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  padding: 4.6rem;
  transition: 0.3s;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.355);
}

.card:hover {
  transform: translate(0, -10px);
}

.card-image {
  width: 100%;
}

.card-text {
  margin-bottom: 4.8rem;
  text-align: center;
}

/**************************/
/* RENTAL SECTION */
/**************************/

.search-container {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid 1px #d1d1d5;
  padding: 1rem 0;
}

.search-bar {
  font-size: 1.6rem;
  width: 600px;
  border: solid 1px #d1d1d5;
  border-radius: 3px;
  padding: 1rem;
}

.search-btn-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.filter-bars {
  font-size: 1.6rem;
  width: 100px;
  border: solid 1px #d1d1d5;
  padding: 1rem;
  border-radius: 2px;
  text-align: center;
  border-radius: 3px;
}

.rental-listings-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 3rem;
  height: 83vh;
  overflow-y: auto;
  position: absolute;
  top: 16.8%;
  left: 60%;
  background-color: rgb(245, 244, 244);
  padding: 2.6rem;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.355);
}

.btn-w-icon strong {
  margin-right: 1.6rem;
}

.map {
  position: relative;
}

.listing-container {
  background-color: #fff;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.355);
  border-radius: 3px;
  padding: 3.2rem;
}

.info-window-img {
  width: 300px;
}

.listing-details p {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  line-height: 1.2;
}

.--details-btn {
  margin-right: 1.2rem;
}

.listing-details p:first-child {
  font-size: 2rem;
  font-weight: bold;
}

.building-overview {
  margin-bottom: 0.5rem !important;
}

/**************************/
/* USER SECTION */
/**************************/

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 9.6rem;
}

.form-update {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  padding: 9.6rem;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.355);
  border-radius: 11px;
  background-color: #fff;
}

.form-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-column input {
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: rgb(203, 203, 203);
}

.form-column label {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1.2rem 0;
}

.--user-form-btn {
  margin-top: 1.2rem;
}

/**************************/
/* MY RENTAL SECTION */
/**************************/

.--my-rental-btn {
  margin-top: 1.8rem;
  margin-right: 1.8rem;
}

.my-rentals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.6rem;
  column-gap: 1.6rem;
  padding: 4.8rem;
  max-width: 100vw;
  position: relative;
  z-index: 0;
}

.form-add {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.--add-btn {
  margin: 4.8rem 0 0 4.8rem;
  padding: 1rem 1.2rem;
}

.summary {
  width: 400px;
  height: 200px;
}

.form-column-add input {
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: inherit;
  width: 80%;
  color: inherit;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: rgb(239, 239, 239);
}

.form-column-add label {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1.2rem 0;
}

.bed-bath-column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bed-bath-column input {
  width: 20%;
  margin-top: 2.8rem;
  margin-right: 1.8rem;
}

.bed-bath-column label {
  margin-top: 1.2rem;
  margin-right: 1.8rem;
}

.form-column-add textarea {
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: inherit;
  width: 80%;
  color: inherit;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: rgb(245, 244, 244);
}

.btn-update {
  margin-top: 2rem;
}

.btn-add {
  margin-top: 4rem;
}

.btn-icon {
  height: 20px;
  width: 20px;
  margin-right: 0.5rem;
}

.btn-w-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.--more-btn {
  margin-top: 2rem;
}

/**************************/
/* SIGNIN SECTION */
/**************************/

.form-signin {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 9.6rem;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.355);
  border-radius: 3px;
  background-color: #fffafa;
}

.form-signin input {
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: inherit;
  width: 100%;
  color: inherit;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: rgb(239, 239, 239);
}

.form-signin label {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1.2rem 0 1.2rem 0;
}

.--signup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  padding: 9.6rem;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.355);
  border-radius: 11px;
  background-color: #fffafa;
}

.--login-btn {
  margin-top: 3rem;
  width: 100%;
}

.cta-signup {
  margin-top: 2.4rem;
}

.cta-signup label {
  font-size: 1.6rem;
  font-weight: bold;
  color: #293e2f;
  margin-right: 1.4rem;
}

/**************************/
/* Application SECTION */
/**************************/

.--submit-btn {
  margin-top: 2.4rem;
}

.all-apps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin: 4.8rem;
}

.all-applications-card {
  background-color: #fffafa;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 3px;
  padding: 4.8rem;
  margin: 0 2.4rem 2.4rem 0;
}
.all-applications-card p {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.app-container {
  padding: 4.8rem;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 74vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.marker {
  background-color: red;
  color: white;
  padding: 0 5px 0 5px;
  font-size: 12px;
  transition: all 0.3s ease-out;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
}

.marker:hover {
  background-color: white;
  color: red;
}

.errors {
  color: #f03e3e;
  font-size: 2.2rem;
  margin-top: 2rem;
}

.errors p {
  margin-bottom: 1.2rem;
}
