/**************************/
/* HEADER */
/**************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);

  /* Because we want header to be sticky later */
  /* height: 15rem; */
  padding: 1.8rem 2.4rem;
  border-bottom: solid 1px #d1d1d5;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.errors {
  color: #f03e3e;
  font-size: 2.2rem;
  margin-top: 2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.logo {
  height: 4.8rem;
  margin-left: 14.8rem;
}

.greeting {
  font-weight: 500;
  font-size: 1.6rem;
}

.--nav-btn {
  padding: 1.2rem 1.2rem;
  font-size: 1.6rem;
}

.header-name {
  font-size: 3.6rem;
  color: #5c940d;
  font-family: "Merriweather", sans-serif;
  margin-left: 1.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: rgb(42, 42, 53);
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e1ad01;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #c92a2a;
}

.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon {
  width: 36px;
  height: 36px;
  margin-right: 1.2rem;
  stroke: #3e363f;
}

/**************************/
/* HERO SECTION */
/**************************/

.hero-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  font-size: 3.6rem;
  font-family: "Merriweather", sans-serif;
  top: 50%;
  left: 50%;
  text-shadow: rgb(0, 0, 0) 5px 0 10px;
  transform: translate(-50%, -50%);
}

.--header-btn {
  position: absolute;
  font-size: 1.6rem;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-image {
  width: 100vw;
  height: 400px;
  object-fit: cover;
}

.listing-img {
  width: 300px;
}

.cta-container {
  display: grid;
  column-gap: 2.6rem;
  padding: 9.6rem 5.4rem;
}

.card {
  max-width: 120rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  padding: 4.6rem;
  transition: 0.3s;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.355);
}

.card:hover {
  transform: translate(0, -10px);
}

.card-image {
  width: 100%;
}

.card-text {
  margin-bottom: 4.8rem;
  text-align: center;
}

/**************************/
/* RENTAL SECTION */
/**************************/

.search-container {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid 1px #d1d1d5;
  padding: 1rem 0;
}

.search-bar {
  font-size: 1.6rem;
  width: 500px;
  border: solid 1px #d1d1d5;
  padding: 1rem;
  border-radius: 2px;
}

.search-btn-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.filter-bars {
  font-size: 1.6rem;
  width: 100px;
  border: solid 1px #d1d1d5;
  padding: 1rem;
  border-radius: 2px;
  text-align: center;
}

.rental-listings-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 3rem;
  height: 83vh;
  overflow-y: auto;
  position: absolute;
  top: 16.8%;
  left: 60%;
  background-color: rgb(245, 244, 244);
  padding: 2.6rem;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.355);
}

.map {
  position: relative;
}

.listing-container {
  background-color: #fff;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.355);
  border-radius: 3px;
  padding: 3.2rem;
}

.info-window-img {
  width: 300px;
}

.listing-details p {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  line-height: 1.2;
}

.--details-btn {
  margin-right: 1.2rem;
}

.listing-details p:first-child {
  font-size: 2rem;
  font-weight: bold;
}

.building-overview {
  margin-bottom: 0.5rem !important;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.marker {
  background-color: red;
  color: white;
  padding: 0 5px 0 5px;
  font-size: 12px;
  transition: all 0.3s ease-out;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
}

.marker:hover {
  background-color: white;
  color: red;
}
